.html{

}

.body{

}

.main-wrapper{
	display: flex;
	/*justify-content: center;*/
	flex-direction: column;
	width: 960px;
	margin: 32px auto;
}

/*General elements*/

	/*Colors*/
	.grey{
		background: #76787a;
	}
	.greylight{
		background: #d9dde0;
	}



.header-wrapper{
	display: flex;
	justify-content: space-between;
}

.block1, .block2, .block3{
	position: relative;
	height: 100px;	
	margin: 0px;
}

.block1 {
	width: 10%;
}

.block2 {
	width: 25%;
}

.block3 {
	width: 50%;
}
.block1::after{
	position: absolute;
	left: 5px;
	top: 5px;
	content: '1';
}

.block2::after{
	position: absolute;
	left: 5px;
	top: 5px;
	content: '2';
}
.block3::after{
	position: absolute;
	left: 5px;
	top: 5px;
	content: '3';
}

.gallery{
	display: flex;
}
.block6:after{
	content: '6';
}