.html{

}

.body{
}
hr { margin: 25px 0; }
.main-wrapper{
	display: flex;
	/*justify-content: center;*/
	flex-direction: column;
	width: 960px;
	margin: 32px auto;
}

/*General elements*/

	/*Colors*/
	.grey{
		background: #76787a;
	}
	.greylight{
		background: #d9dde0;
	}


.header-wrapper{
	display: flex;
	justify-content: space-between;
}	

/*###### Header ######*/
.block1, .block2, .block3,
.block4, .block5, .block6,
.block7, .block8, .block9, 
.block10, .block11, .block12, .block13 {
	position: relative;
}

	/*Header Block Sizes*/

	.block1 { flex-basis: 15%; }
	.block2 { flex-basis: 30%; }
	.block3 { flex-basis: 50%; text-align: right; }
	.block6 { width: 150px; height: 150px; margin-right: 5px; margin-bottom: 5px;}
	.block3 p {
		padding-top: 30px;
		padding-bottom: 30px;
		padding-right: 30px;

		line-height: 22px;
		color: #ffffff;
		font-family: Arial, sans-serif;
	}
		 
		 /*Pseudo Elements*/

		.block1::after, .block2::after, .block3::after, 
		.block4::after, .block5::after, .block6::after,
		.block7::after, .block8::after, .block9::after, 
		.block10::after, .block11::after, .block12::after, .block13::after {
			position: absolute;
			left: 10px;
			top: 10px;	
			
			color: #ffffff;
			font-family: Arial, sans-serif;
			font-size: 24px;
			font-weight: 700;
			text-shadow: 3px 3px #000000;
		}
			.block1::after{ content: '1'; }
			.block2::after{ content: '2'; }
			.block3::after{ content: '3'; }
			.block4::after{ content: '4'; }
			.block5::after{ content: '5'; }			
			.block6::after{ content: '6'; }
			.block7::after{ content: '7'; }
			.block8::after{ content: '8'; }
			.block9::after{ content: '9'; }
			.block10::after{ content: '10'; }
			.block11::after{ content: '11'; }
			.block12::after{ content: '12'; }
			.block13::after{ content: '13'; }

/*###### MAIN ######*/

main {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	/*margin-bottom: 25px;*/
}

section {
	flex: 5;	
	margin-left: 30px;
}

.aside {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: space-between;
}

.content-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

	.block5 {
		flex: 1;
		padding: 25px;	
		margin-bottom: 20px;
	}
	.block5 ul {
		padding: 25px;
	}

	/*### Aside ###*/
	.block4 {
		flex: 2;
		flex-basis: 70%;
		margin-bottom: 25px;
	}

	.block7 {
		flex: 1;
		flex-basis: 15%;
	}

.gallery{
	margin-bottom: 20px;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.content-bottom {
	display: flex;
	justify-content: space-between;
}

	.block8 {
		flex: 1;
		margin-right: 25px;
	}
	.block9 {
		flex: 1;
	}

	.block8, .block9 p {
		padding: 25px;
	}

/*###### Aside ######*/



/*###### Footer ######*/
.footer-wrapper {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
	.block10 {
		flex: 1;
		margin-right: 25px;
		height: 200px;
	}
	.block10 ul {
		display: flex;
		flex-direction: column;
		/*justify-content: flex-start;*/
		flex-wrap: wrap-reverse;
		padding: 25px;

	}
	.block10 li {
		color: #ffffff;
		margin-right: 5px;
	}
	.block11 { 
		flex: 1 
		/*margin-right: 25px;*/
	}
	.contacts {
		display: flex;
		flex: 1;
		justify-content: space-between;
		flex-direction: column;
		margin-left: 25px;
	}

		.block12 { flex: 1; margin-bottom: 25px; }
		.block13 { flex: 1; }